/* start of my css file */

h1 {
    font-size: 400%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
}

h1, h2, h3 {
    text-align: center;
    margin: 5px auto 5px auto;
    background-color: #ebf2f2;
    border-style: hidden;
    border-radius: 10px;
    padding: 10px;
    width: 90%;

}

.section {
    position: auto;
    text-align: center;
}

section {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 125%;
    width: 50%;
}

.navigation {
    display: block;
    text-align: center;
    width: 100%;
}

fieldset, .contents {
    width: 50%;
    margin: auto;
}

textarea {
    vertical-align: top;
}

body {
    display: grid;
}

header, footer, main {
    margin-top: 10px;
    overflow: hidden;
}

header section:first-of-type,
main section:first-of-type,
footer section:first-of-type {
    margin-top: 0px;
}